@page "/EnviromentList"
@using Otm.Shared
@inject EnvironmentService EnvSvc

<h1>Lista de Ambientes</h1>

@if (configs == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>.
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var conf in configs)
            {
                <tr>
                    <td>@conf.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private RootConfig[] configs;

    protected override async Task OnInitializedAsync()
    {
        configs = await EnvSvc.GetAll();
    }

}
