@page "/log"
@using Microsoft.Extensions.Logging;
@using Otm.Client.Api;

@inject NavigationManager NavigationManager
@inject ILogClient LogClient
@inject ILogger<Dashboard> Logger;

<h1>Log</h1>

<hr>

<ul id="messagesList">
    @foreach (var message in Messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private List<string> Messages = new List<string>();

    protected override void OnInitialized()
    {
        LogClient.Get(list =>
        {
            Messages = list;
            Logger.LogInformation("Received {0} messages", list.Count);
            StateHasChanged();
        });
    }
}
