<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   autoReload="true"
   internalLogLevel="Info"
   internalLogFile="Logs/internal-nlog.json">
 <variable name="LogDay" value="${date:format=dd}"/>
 <extensions>
  <add assembly="NLog.Web.AspNetCore"/>
 </extensions>

 <targets async="true">

  <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
    layout="${longdate}|${callsite:padding=-20}|${callsite-linenumber}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}">
   <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
   <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
   <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
   <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
   <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
   <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
  </target>

  <target xsi:type="File" name="allfile" encoding="utf-8"
    layout="${longdate}|${callsite:padding=-20}|${callsite-linenumber}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
    fileName="Logs/nlog.log"
    archiveFileName="Logs/${shortdate}.txt"
    maxArchiveFiles="15"
    archiveEvery="Day"/>

  <target name="PTL" xsi:type="File" fileName="Logs/PTL.json">
   <layout xsi:type="JsonLayout">
    <attribute name="time" layout="${longdate}" />
    <attribute name="callsite" layout="${callsite:padding=-20}" />
    <attribute name="callsite-linenumber" layout="${callsite-linenumber}" />
    <attribute name="level" layout="${level:upperCase=true}" />
    <attribute name="logger" layout="${logger}" />
    <attribute name="message" layout="${message}" />
    <attribute name="exception" layout="${exception}" />
    <attribute name="class" layout="${event-properties:Class}" />
    <attribute name="method" layout="${event-properties:Method}" />
    <attribute name="config" layout="${event-properties:Config}" />
    <attribute name="device" layout="${event-properties:Device}" />
    <attribute name="errorCode" layout="${event-properties:ErrorCode}" />
    <attribute name="timestamp" layout="${event-properties:Timestamp}" />
    <attribute name="value" layout="${event-properties:Value}" />
   </layout>
  </target>

 </targets>

 <rules>
  <logger name="Logger5" minlevel="Trace" writeTo="PTL" />
  <logger name="*" minlevel="Trace" writeTo="coloredConsole,allfile" />
 </rules>
</nlog>