<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="Logs/internal-nlog.json">
	<variable name="LogDay" value="${date:format=dd}"/>
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<!--<add assembly="NLog.Targets.ElasticSearch"/>-->
	</extensions>

	<targets async="true">

        <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
       		    layout="${longdate}|${callsite:padding=-20}|${callsite-linenumber}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>

		<target xsi:type="File" name="allfile" encoding="utf-8"
				layout="${longdate}|${callsite:padding=-20}|${callsite-linenumber}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
				fileName="Logs\nlog.log"
				archiveFileName="Logs\${shortdate}.txt"
				maxArchiveFiles="15"
				archiveEvery="Day"/>

		<target name="S0101" xsi:type="File" fileName="Logs/S0101.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="callsite" layout="${callsite:padding=-20}" />
				<attribute name="callsite-linenumber" layout="${callsite-linenumber}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="logger" layout="${message}" />
				<attribute name="exception" layout="${exception}" />
			</layout>
		</target>

		<target name="M01aa" xsi:type="File" fileName="Logs/M01aa.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="callsite" layout="${callsite:padding=-20}" />
				<attribute name="callsite-linenumber" layout="${callsite-linenumber}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="logger" layout="${message}" />
				<attribute name="exception" layout="${exception}" />
			</layout>
		</target>

		<target name="PS0101" xsi:type="File" fileName="Logs/PS0101.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="callsite" layout="${callsite:padding=-20}" />
				<attribute name="callsite-linenumber" layout="${callsite-linenumber}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="logger" layout="${message}" />
				<attribute name="exception" layout="${exception}" />
			</layout>
		</target>

		<target name="scheluder" xsi:type="File" fileName="Logs/scheluder.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="callsite" layout="${callsite:padding=-20}" />
				<attribute name="callsite-linenumber" layout="${callsite-linenumber}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="logger" layout="${message}" />
				<attribute name="exception" layout="${exception}" />
			</layout>
		</target>

		<target name="PTL" xsi:type="File" fileName="Logs/PTL.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="callsite" layout="${callsite:padding=-20}" />
				<attribute name="callsite-linenumber" layout="${callsite-linenumber}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="logger" layout="${message}" />
				<attribute name="exception" layout="${exception}" />
			</layout>
		</target>
	
	</targets>

	<rules>
		<logger name="Logger1" minlevel="Trace" writeTo="S0101" />
		
		<logger name="Logger2" minlevel="Trace" writeTo="M01aa" />

		<logger name="Logger3" minlevel="Trace" writeTo="PS0101" />

		<logger name="Logger4" minlevel="Trace" writeTo="scheluder" />

		<logger name="Logger5" minlevel="Trace" writeTo="PTL" />

		<logger name="*" minlevel="Trace" writeTo="coloredConsole,allfile" />
	</rules>
</nlog>