<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="Logs/internal-nlog.json">
	<variable name="LogDay" value="${date:format=dd}"/>
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  -->
		<!--<target xsi:type="File" name="allfile" encoding="utf-8"
				layout="${longdate}|${callsite:padding=-20}|${callsite-linenumber}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
				fileName="Logs\nlog.log"
				archiveFileName="Logs\Fatal-${shortdate}.txt"
				maxArchiveFiles="15"
				archiveEvery="Day"/>-->

		<target name="jsonFile" xsi:type="File" fileName="Logs/nlog.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="callsite" layout="${callsite:padding=-20}" />
				<attribute name="callsite-linenumber" layout="${callsite-linenumber}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="logger" layout="${message}" />
				<attribute name="exception" layout="${format=tostring}" />
			</layout>
		</target>
	</targets>


	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

		<logger name="*" minlevel="Trace" writeTo="jsonFile" />
	</rules>
</nlog>