<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>


	<targets async="true">

		<target xsi:type="BufferingWrapper" name="ElasticSearch"
				flushTimeout="5000">
			<target xsi:type="ElasticSearch"
				   uri="http://192.168.2.17:9200"
				   includeAllProperties ="true">
			</target>
		</target>

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="elastic" />
	</rules>
</nlog>