@using Otm.Shared
@using Otm.Client.ViewModel

@inject ILogReaderClient LogReaderClient
@inject ILogger<LogViewer> Logger
@inject LogMessagesViewModel LogMessagesState

@if (LogMessagesState.LogMessages == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Level</th>
                <th>Mensagem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var msg in LogMessagesState.LogMessages)
            {
                <tr>
                    <td>@msg.DateTime</td>
                    <td>@msg.Level</td>
                    <td>@msg.Message</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await LogReaderClient.GetMessagesAsync("teste", null,
            result =>
            {
                //Dispatcher.Dispatch(new UpdateLogMessages(result));
            });
    }
}
